# Dependencies
node_modules/
venv/
__pycache__/

# Environment variables
.env
.env.*

# Build files
dist/
build/

# IDE files
.vscode/
.idea/

# System files
.DS_Store
*.pyc

# Logs
*.log
npm-debug.log*
